@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p></p>
            <p>Manage your food inventory here</p>
        </div>
        <div class="card-group row">
            <div class="col">
                <div class="card">
                    <a class="card-body bg-primary text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Storage Location</a>
                    <div class="card-footer">Description here</div>
                    </div>
                </div>
            <div class="col">
                <div class="card">
                    <a class="card-body bg-primary text-white" asp-area="" asp-controller="StoredItemsClasses" asp-action="Index">Stored Items</a>
                    <div class="card-footer">Description here</div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a class="card-body bg-primary text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Food Recipe</a>
                    <div class="card-footer">Description here</div>
                </div>
            </div>
        </div>
    </div>
